/* I copied this whole page and put in index.css and it all still works */
/* - but its better to separate on this assignment */


.projectDiv {
    color: #333;
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    border: 3px solid rgb(251, 142, 0);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.projectDiv:hover {
    
    transform: scale(1.01); /* om man inte vill att det runtomkring förstoras!!! */
    border: 3px solid rgb(210, 105, 0);
}
.projectDiv:active {
    background-color: rgba(255, 255, 255, 0.826);
}

.img {
    width: 250px;
    margin: 20px;
    border: 1px solid #3333334a;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.projectTitle {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.projectText {
    color: rgb(50, 142, 142);
}
.Portfolio {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Portfolio-h2 {
    text-align: center;
} 
.btn-showprojects {
    margin-top: 10px;
}

.searchform {
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid rgb(251, 142, 0);
}
.searchform:hover {
    background-color: rgba(255, 255, 255, 0.826);
    border-color: rgb(210, 105, 0);
}
.searchform:focus {
    outline: none;
    border-color: rgb(210, 105, 0);
}

.background-Projects {
    display: flex;
    align-items: center;
}