
.projectDiv {
    color: #333;
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    border: 3px solid rgb(251, 142, 0);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.img {
    width: 250px;
    margin: 20px;
    border: 1px solid #3333334a;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.projectTitle {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.projectText {
    color: rgb(50, 142, 142);
}
.Portfolio {
    display: flex;
    align-items: center;

}
.Portfolio-h2 {
    text-align: center;
}