
.projectDiv {
    color: violet;
    background-color: blanchedalmond;
    max-width: 300px;
    width: 100%;
    height: 300px;
    border-style: double;
    border: 2;
    border-color: aqua;
    margin: 10px;
    padding: 20px;
}

/* .projectTitle {

}
.projectText {

} */