.Thepopup {
    color: #333;
    background-color: rgb(255, 255, 255);
    width: 1100px;
    height: 600px;
    border: 3px solid rgb(251, 142, 0);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    z-index: 10;
}

.close-buttonThepopup {
    width: 30px;
    height: 30px;
    opacity: 50%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    float: right;
    text-align: center;
}

.backgroundThepopup {
    width: 100%;
    /* height: 100vh; */
    height: 1030px; /* det är något med höjden på projekt divs med flex */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000092;
    left: 0;
    top: 55px;
    position: absolute;
    bottom: 0;
}

