body {
    background-color: rgb(254, 181, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
}