body {
    background-color: rgb(254, 181, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar {
    background-color: rgb(175, 123, 62);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.Navbar-Ul {
    width: 30%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.Navbar-Li  {
    text-decoration: none;
    list-style: none;
    color: #333;
    font-size: 20px;
}
.Navbar-Li:hover {
    color: #333333b6;
}




/* this is for hte Testpopup and Testcomponent */
.project1 {
    background-color: aqua;
}
.project2 {
    background-color: blue;
}

.Thepopup {
    color: #333;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 600px;
    border: 3px solid rgb(251, 142, 0);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 130px;
    left: auto;
    right: auto;
    display: flex;
}