body {
    background-color: beige;
    display: flex;
    /* max-width: 1200px;
    width: 100%;
    min-height: 100vh; */
    justify-content: center;
    align-items: center;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
}