body {
    background-color: rgb(254, 181, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar {
    background-color: aliceblue;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-Ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.Navbar-Li  {
    text-decoration: none;
    list-style: none;
}